:root {
    --primary-color:#CF0000;
    --secondary_color:#7D2F2F;
    --background_color:#FDEDE0;
    --accent_color:#EB624D;
    --button_static:#630F0F;
    --button_active:#7A1212;
    --button_click:#A12A2A;
    --border_color:#FFB9AD;
    --primary_text:#F0C7AA;
    --secondary_text:#F9DCD3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}